.animated-background {
  background: linear-gradient(-45deg, #d4f1c5, #a5dff0, #f0e1d6, #d4f1c5);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: Noto Sans TC, serif;
  font-size: 1.75em;
  margin: auto 0 auto 0;
}

body {
  margin: 0;
  font-family: Noto Sans TC, serif;
}

p {
  font-family: Noto Sans TC, serif;
}

button {
  font-family: Noto Sans TC, serif;
}

#table {
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* 模擬下方邊框 */
}

.imgContainer {
  width: 600px;
  margin: 5px auto;
  
}

.imgContainer > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 1px solid #4f4f4f;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 讓 div 可以滾動 */
.scroll-container {
  position: relative; /* 讓按鈕的 absolute 定位生效 */
  height: 95vh;
  overflow-y: auto;
  padding: 20px;
}

/* 回到頂部按鈕 */
.scroll-to-top-btn {
  position: sticky;
  bottom: 10px;
  left: 90vw;
  padding: 10px 15px;
  background-color: #CCEEFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

/* 當按鈕顯示時 */
.scroll-to-top-btn.show {
  opacity: 1;
}

/* 當按鈕隱藏時 */
.scroll-to-top-btn.hide {
  opacity: 0;
  pointer-events: none; /* 防止點擊隱藏的按鈕 */
}

.scroll-to-top-btn:hover {
  background-color: #1565C0;
}

